In [15]:
# 문자열 자료형
a = "Hello world"
b = 'python is fun'
c = """Life is too short, you need python"""
d = '''Life is too short, you need python'''           
print(a)
print(b)
print(c)
print(d)

Hello world
python is fun
Life is too short, you need python
Life is too short, you need python

In [16]:
food = "python's favorite food is perl"
food

"python's favorite food is perl"

In [17]:
say = '"python is very easy." he says.' 
say

'"python is very easy." he says.'

In [18]:
food = 'python\'s favorite food is perl'
food

"python's favorite food is perl"

In [19]:
food = "영수가 말했다. \" 나 밥 먹고 싶어\"" 
food

'영수가 말했다. " 나 밥 먹고 싶어"'

In [20]:
multiline="Life is too short\nyou need python" # \n -> newline 
print(multiline)

Life is too short
you need python

In [21]:
multiline='''
Life is too short
You need python  
''' 
print(multiline)
multiline

Life is too short
You need python

'\nLife is too short\nYou need python  \n'

In [22]:
a ="하호\t\탭이 되나?" 
print(a)
a ="하호\\탭이 되나?"
print(a)

하호	\탭이 되나?
하호\탭이 되나?

In [23]:
head = "python"
tall =" is fun!" 
head + tall

'python is fun!'

In [24]:
a = "pythron" 
a * 2

'pythronpythron'

In [25]:
print("======================================")

======================================

In [26]:
print("=" * 55)

=======================================================

In [27]:
a = "Life is too short" 
len(a) #length의 약자

17

In [28]:
a = "Life is too short, you need python"
print(a[3])  # e
print(a[5])  # i
print(a[7])  # 빈칸
print(a[9])  # o
print(a[0])  # L
print(a[-0]) # L 

print(a[-1]) # n -> 뒤에서부터 첫번째 문자
print(a[-2]) # o -> 뒤에서부터 두번재 문자

e
i

o
L
L
n
o

In [29]:
a ="Life is too short, you need python"
b = a[0]+a[1]+a[2]+a[3]
b

'Life'

In [30]:
#슬라이싱 
a = "Life is too short, You need python" 
print(a[0:5]) # 0~4
print(a[0:2]) # 0~1
print(a[5:7]) # 5~6
print(a[12:17]) #12~16

Life
Li
is
short

In [31]:
a = "Life is too short, You need python"
print(a[19:]) # 19 ~ 끝
print(a[:17])  # 시작 ~ 16
print(a[:])

You need python
Life is too short
Life is too short, You need python

In [32]:
a = "Life is too short, You need python"
a[19:-7]

'You need'

In [33]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]

In [34]:
date

'20230331'

In [35]:
weather

'Rainy'

In [36]:
a = "Pithon"
a[1]

'i'

In [37]:
a[1] = "y"
a

TypeError: 'str' object does not support item assignment

In [ ]:
b = a[:1] + 'y' + a[2:]
b

'Python'

In [ ]:
"I eat %d applies." % 3 # 숫자를 넣을 경우 %d를 사용하여 포맷팅

'I eat 3 applies.'

In [ ]:
'I eat %s applies.' % "삼" #문자를 넣을 경우 %s를 사용하여 포맷팅

'I eat 삼 applies.'

In [ ]:
number = 3 
"I eat %d appIes." % number

'I eat 3 appIes.'

In [ ]:
number = 10
day = "three" 
"I ate %d aaples. so I was sick for %s days." % (number,day)

'I ate 10 aaples. so I was sick for three days.'

In [ ]:
"Error is %d%%." % 98

'Error is 98%.'

In [ ]:
"I have %s apples" % 3

'I have 3 apples'

In [ ]:
"rate is %s" % 3.234

'rate is 3.234'

In [ ]:
"%10s" % "hi"

'        hi'

In [ ]:
"%-10sjane." % 'hi'

'hi        jane.'

In [ ]:
"%.2f" % 3.42134234

'3.42'

In [ ]:
"%10.4f" % 3.42134234

'    3.4213'

In [ ]:
"%10.4f" % 7312558.42134234

'7312558.4213'

In [ ]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [ ]:
"I eat {0} apples" . format("five")

'I eat five apples'

In [ ]:
number = 3 
"I eat {0} apples".format(number)

'I eat 3 apples'

In [ ]:
number = 10
day = "three" 
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
name = '김성운'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 김성운입니다. 나이는 20입니다.'

In [ ]:
age = 20
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 21살이 된다.'

In [ ]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [ ]:
f'{y:10.4f}'

'    3.4213'

In [ ]:
f'{{ and }}'

'{ and }'

In [ ]:
# print함수
# len함수
# format함수

a = "hobby"
a.count("oa")  # 1개 문자열 이상인의 것 count값

0

In [ ]:
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))
print(a.find('t'))

14
-1
2

In [ ]:
a = "Life is too short"
a.index('t')

8

In [ ]:
a.index('k')

ValueError: substring not found

In [ ]:
# 문제1. format함수 또는 f문자열 포맷팅을 사용해 !!!python!!! 문자열 출력을 해보세요
print("{0:!^12}".format('python'))
print(f'{"python":!^12}')
a = "python"
b = "!!!"
c = "!" * 3
print(f'{b}{a}{b}')
print(f'{c}{a}{c}')

!!!python!!!
!!!python!!!
!!!python!!!
!!!python!!!

In [ ]:
",".join('abcd')

'a,b,c,d'

In [ ]:
a = "hi"
a.upper()

'HI'

In [ ]:
c

NameError: name 'c' is not defined

In [ ]:
# 문제2
"""
문자열 인덱싱 "python is good" 문자열을 string변수에 저장하고 2번째 위치에 있는 문자 y를 출력하세요
"""
a="python is good"
print(a[1])

y

In [ ]:
#문제3
"""
문자열 슬라이싱 "python is good" 문자열을 string변수에 저장하고 문자 good를 출력하세요
"""

'\n문자열 슬라이싱 "python is good" 문자열을 string변수에 저장하고 문자 good를 출력하세요\n'

In [40]:

# 문제4
"""
Hi 문자열을 변수에 저장하고 10번 반복하여 출력하세요.(문자열 연산)
"""

'\nHi 문자열을 변수에 저장하고 10번 반복하여 출력하세요.(문자열 연산)\n'

In [41]:
# 문제5
"""
문자열 인덱싱 - url변수에 "www.naver.com" 주소를 저장하고 규칙에 따라 비밀번호를 만들어 pw변수에 저장하고 출력하세요.
비밀번호 생성 규칙
1. 홀수자리의 위치에 있는 글자들과 마지막에 "!!" 더하여 비밀번호를 생성한다.(단,위치 값은 0부터 시작한다.)
"""

'\n문자열 인덱싱 - url변수에 "www.naver.com" 주소를 저장하고 규칙에 따라 비밀번호를 만들어 pw변수에 저장하고 출력하세요.\n비밀번호 생성 규칙\n1. 홀수자리의 위치에 있는 글자들과 마지막에 "!!" 더하여 비밀번호를 생성한다.(단,위치 값은 0부터 시작한다.)\n'