In [216]:
# 그 이전 학습 복습 내용
# [] -> 리스트: 추가, 수정, 순서, 중복 가능
# () -> 튜플: 추가, 삭제 불가능, 순서, 중복 가능
# {} -> 딕셔너리: 추가, 수정, 삭제 가능, 순서, 중복 불가능

In [214]:
# 집합 자료형(set) 특징
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다(unordered)
s1 = set([1, 2, 3])  
print(s1)
s2 = {1, 2, 3}
print(s2)

{1, 2, 3}
{1, 2, 3}

In [217]:
s2 = set("Hello")
print(s2)

{'l', 'e', 'o', 'H'}

In [220]:
s2 = {1, 2, 2, 3}
print(s2)
s3 = (1, 2, 2, 3)
print(s3)

{1, 2, 3}
(1, 2, 2, 3)

In [221]:
s3[0] # 리스트

1

In [224]:
s2[0] # 집합 -> error

TypeError: 'set' object is not subscriptable

In [225]:
s2 = {1, 2, 2, 3}
l2 = list(s2)

print(l2[0])
print(l2)

t2 = tuple(s2)
t2

1
[1, 2, 3]

(1, 2, 3)

In [226]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [231]:
# 교집합 구하기
print(s1 & s2)
s1.intersection(s2)

{4, 5, 6}

{4, 5, 6}

In [311]:
# 합집합 구하기
print(s1 & s2)
s1.union(s2)

{4, 5, 6}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [312]:
# 차집합 구하기
print(s1 - s2)               # s1기준으로 s2를 원소를 뺀다
print(s2 - s1)               # s2기준으로 s2를 원소를 뺀다
print(s1.difference(s2))     # s1기준으로 s2를 원소를 뺀다
print(s2.difference(s1))     # s2기준으로 s2를 원소를 뺀다

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [316]:
# 집합 자료형 관련 함수
# 1. add함수 비슷한 거: append, insert
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [315]:
# 2.값 여러 개 추가하기 - update
s1 = set([1, 2, 3])   #s1 = set([1, 2, '3'])
s1.update([4, 5, 6,]) #s1.update(['3', 4, 5, 6]) 
s1

{1, 2, 3, 4, 5, 6}

In [328]:
# 3. 특정 값 제거하기 - remove
s1=set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [335]:
#문제1
#자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 적어보시오
a = 14
# a & 2 나머지가 8인 것은 짝수이고 나머지가 1인 것은 홀수
a = a % 2
a

0

In [341]:
#문제2
# 주민등록번호 뒷 자리 맨 첫번째 숫자가 성별을 나타낸다.
#(ex) 880211-1345211
# 주민등록번호에서 성별을 나타내는 숫자를 출력
a = "880211-1345211"
a[7]

'1'

In [331]:
# 문제3
# a리스트에서 중복 숫자를 제거해 보자
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
# 첫번째 코드 -> a리스트를 집합 자료형으로 변환하는 코드를 작성
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a= set(a)
# 두번째 코드 -> 집합 자료형을 리스트 자료형으로 다시 변환하는 코드를 작성
a = list(a)
a

[1, 2, 3, 4, 5]