In [2]:
# 튜플 자료형
t1 = ()                             # 빈 튜플
t2 = (1,)                           # 1 원소를 가진 튜플
t3 = (1, 2, 3)                      # 1,2,3 원소를 가진 튜플
t4 = 1, 2, 3                        # 1,2,3 원소를 가진 튜플    
t5 = ('a', 'b', ('ab', 'cd'))       # 튜플 안의 또 다른 튜플를 가진 튜플
t6 = tuple([1])                     # iterable(반복)이 되는 값을 인수로 가짐
t7 = (1)                            # 1개는 숫자 혹은 문자형으로 표시
t8 = ("1")                          # 1개는 숫자 혹은 문자형으로 표시

In [3]:
print(t1)
print(t2)
print(t6)
print(t7)
print(t8)

()
(1,)
(1,)
1
1

In [4]:
# 변수의 형태를 볼 수 있는 type함수
a = 1            # int
b = "1"          # str
c = [1]          # list
d = (1,)         # tuple
e = (1)          # int

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'int'>

In [5]:
# 튜플 요솟값을 삭제하려 할 때 error가 발생
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# 튜플 요솟값을 변경하려 할 때 error가 발생
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플 인덱싱
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [ ]:
t1[3]

'b'

In [ ]:
# 튜플 슬라이싱
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [10]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [ ]:
# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [ ]:
# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [12]:
# 문제1
# my_variable 이름의 비어있는 튜플 생성하기

# 문제2
# 숫자 10이 저장된 튜플 생성하기

# 문제3
# 아래와 같이 t에는 1,2,3,4 데이터가 바인딩되어 있는데 t의 데이터 타입은 무엇인가?
# t = 1,2,3,4

# 문제4
# 변수t에는 아래와 같은 값이 저장되어 있는데 변수t가 ('A','b','c')튜플을 가리키도록 수정하시오
# t = ('a','b','c')

# 문제5
# 아래 튜플을 리스트로 변환하라.(list함수 사용)
# interest = ('삼성전자', 'LG전자', 'SK Hynix')

# 문제6
# 아래 리스트를 튜플로 변환하라.(tuple함수 사용)
# interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
# 문제1
# my_variable 이름의 비어있는 튜플 생성하기
my_variable = ()
my_variable = tuple()

In [ ]:
# 문제2
# 숫자 10이 저장된 튜플 생성하기
a = (10,)

In [ ]:
# 문제3
# 아래와 같이 t에는 1,2,3,4 데이터가 바인딩되어 있는데 t의 데이터 타입은 무엇인가?
# t = 1,2,3,4

t = 1,2,3,4
type(t)

tuple

In [ ]:
# 문제4
# 변수t에는 아래와 같은 값이 저장되어 있는데 변수t가 ('A','b','c')튜플을 가리키도록 수정하시오
# t = ('a','b','c')

t = ('a','b','c')
# t[0] = 'A' # error
t = ('A','b','c')
t

('A', 'b', 'c')

In [ ]:
# 문제5
# 아래 튜플을 리스트로 변환하라.(list함수 사용)
# interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
# 문제6
# 아래 리스트를 튜플로 변환하라.(tuple함수 사용)
# interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')