In [1]:
# 리스트(List): 순서, 중복, 수정, 삭제 가능 -> []
# 튜플(Tuple): 순서, 중복 가능. but 수정, 삭제 불가능 -> ()
# 딕셔너리(Dictionary): 순서, 중복 없음. 수정, 삭제 가능 -> {}
# 집합(Set): 순서, 중복 불가능. 추가, 삭제 가능 -> set()

# 리스트 상세설명

In [16]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [17]:
a = []                               # 빈 리스트
a = list()                           # 빈 리스트
b = [1, 2, 3]                        # 숫자형만을 가진 리스트
b = list(1, 2, 3)                    # 숫자형만을 가진 리스트
c = ['Life', 'is', 'too', 'short']   # 문자열만을 가진 리스트 
d = [1, 2, 'Life', 'is']             # 숫자와 문자열 모두 가진 리스트
e = [1, 2, ['Life', 'is']]           # 리스트 안의 또 다른 리스트를 가진 리스트

TypeError: list expected at most 1 argument, got 3

In [ ]:
# 리스트 인덱싱
a = [1, 2, 3]
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0] + a[2]   # 1 + 3

4

In [ ]:
a[-1]

3

In [2]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [3]:
print(a[0])    # 1
print(a[-1])   # ['a', 'b', 'c']
print(a[3])    # ['a', 'b', 'c']

1
['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
a[-1][0]     # 'a'

'a'

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a

[1, 2, ['a', 'b', ['Life', 'is']]]

In [ ]:
a[2][2][0]

'Life'

In [ ]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]  # 인덱스번호가 0 ~ 1까지 또 다른 리스트를 가져옴

[1, 2]

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)  # [1, 2]
print(c)  # [3, 4, 5]

[1, 2]
[3, 4, 5]

In [ ]:
# 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])      # [3, ['a', 'b', 'c'], 4]
print(a[3][:2])    # ['a', 'b']

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [ ]:
# 문제1
# a = [1,2,3,4,5] 리스트에서 슬라이싱 기법을 사용하여 리스트 [2,3]을 출력하세요
a[1:3]

[2, 3]

In [ ]:
# 리스트 더하기(+)
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 반복하기(*)
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 구하기
len(a)

3

In [ ]:
str(a[2]) + "hi"  # str함수: 숫자형 -> 문자열로 바꿔줌

'3hi'

In [ ]:
# 리스트의 값 수정하기
a = [1, 2, 3]
print(a[2])     # 3

a[2] = 4
print(a[2])     # 4

a

3
4

[1, 2, 4]

In [ ]:
# del 함수를 사용해 리스트의 요소 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [ ]:
a = [1, 2, 3, 4, 5]
del a[2:]  # del 객체
a

[1, 2]

In [ ]:
# 리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.append([5, 6])

In [ ]:
del a[4]

In [ ]:
a

[1, 2, 3, 4]

In [ ]:
a = [1,2,3,3,4]
a

[1, 2, 3, 3, 4]

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
# 리스트 정렬 - sort
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [ ]:
# 리스트 정렬 - sort
a = ['ad', 'ab', 'ca']
a.sort()
a

['ab', 'ad', 'ca']

In [ ]:
# 리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [ ]:
# 리스트 뒤집기 - reverse
a = ['ad', 'ab', 'ca']
a.reverse()
a

['ca', 'ab', 'ad']

In [ ]:
a = [1, 2, 3]
print(a.index(3))
print(a.index(1))

2
0

In [ ]:
a.index(0) # 숫자 0을 가진 것이 없기 때문에 error

ValueError: 0 is not in list

In [ ]:
# 리스트에 요소 삽입 - insert
a = [1, 2, 3]
# insert(인수1, 인수2) -> 인수1: index번호   인수2: 값
a.insert(0, 4)   # 0번째 index에 4값을 넣음
a

[4, 1, 2, 3]

In [ ]:
a.insert(3, 5)  # 3번째 index에 5값을 넣음

In [ ]:
a

[4, 1, 2, 5, 3]

In [ ]:
# 리스트 요소 제거 - remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3)   # 리스트에서 첫 번째 값이 x가 나오는 것을 삭제
a

[1, 2, 1, 2, 3]

In [ ]:
a.remove(3)

In [ ]:
a

[1, 2, 1, 2]

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(4)  # 리스트 안에 4가 없어서 error
a

ValueError: list.remove(x): x not in list

In [ ]:
# 리스트 요소 끄집어 내기 - pop
a = [1, 2, 3]
a.pop()

3

In [ ]:
a

[1, 2]

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a = [1, 2, 3, 1]
a.count(1)

2

In [ ]:
a.count(2)

1

In [ ]:
# 리스트 확장 - extend
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [ ]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
a.extend([4, 5])  # [1, 2, 3, 4, 5, 6, 7, 4, 5] -> a += [4, 5]
# a += [4, 5]는 a = a + [4, 5]

In [ ]:
# 문제2
# "아이언맨", "헐크", "스파이더맨" 3명의 학생으로 구성된 std_list를 만들고 한명씩 출력하세요.

# 문제3
# 두 명의 학생이 전학을 왔습니다. 첫 번째는 "타노스", 두 번째는 "앤트맨"입니다. 
# std_list 뒤에 두 명을 추가하고 std_list를 출력하세요.

# 문제4
# "타노스가" "다노스"로 개명을 했어요. std_list에서 값을 변경하여 std_list를 출력하세요.

# 문제5
# 반장 선거를 해서 2번 위치에 있는 학생이 당선이 되었네요. 누구인지 출력하세요.

# 문제6
# 2번~4번 위치에 있는 학생 3명이 오늘 청소 당번이에요. 청소 당번 학생들을 출력해 주세요.

# 문제7
# "헐크" 학생이 전학을 갔어요. std_list에서 헐크 학생을 삭제하고 std_list를 출력하세요.

# 문제8
# 학생들을 ㄱㄴㄷ 순으로 위치를 바꾸려고 합니다. std_list를 정렬하여 출력하세요.

In [ ]:
# 문제2
# "아이언맨", "헐크", "스파이더맨" 3명의 학생으로 구성된 std_list를 만들고 한명씩 출력하세요.
std_list = ["아이언맨", "헐크", "스파이더맨"]
print(std_list)

print(std_list[0])
print(std_list[1])
print(std_list[2])

['아이언맨', '헐크', '스파이더맨']
아이언맨
헐크
스파이더맨

In [ ]:
# 문제3
# 두 명의 학생이 전학을 왔습니다. 첫 번째는 "타노스", 두 번째는 "앤트맨"입니다. 
# std_list 뒤에 두 명을 추가하고 std_list를 출력하세요.
#std_list.append(["타노스", "앤트맨"])
std_list.append("타노스")
std_list.append("앤트맨")
std_list

['아이언맨', '헐크', '스파이더맨', '타노스', '앤트맨']

In [ ]:
# 문제4
# "타노스가" "다노스"로 개명을 했어요. std_list에서 값을 변경하여 std_list를 출력하세요.
std_list[3] = "다노스"
std_list

['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']

In [ ]:
# 문제5
# 반장 선거를 해서 2번 위치에 있는 학생이 당선이 되었네요. 누구인지 출력하세요.
std_list[1]

'헐크'

In [5]:
# 문제6
# 2번~4번 위치에 있는 학생 3명이 오늘 청소 당번이에요. 청소 당번 학생들을 출력해 주세요.
std_list[1:4] #인덱스 위치가 1~3

NameError: name 'std_list' is not defined

In [ ]:
# 문제7
# "헐크" 학생이 전학을 갔어요. std_list에서 헐크 학생을 삭제하고 std_list를 출력하세요.
#del std_list[1]
std_list.remove('헐크')
std_list

['아이언맨', '스파이더맨', '다노스', '앤트맨']

In [ ]:
# 문제8
# 학생들을 ㄱㄴㄷ 순으로 위치를 바꾸려고 합니다. std_list를 정렬하여 출력하세요.
std_list.sort()
std_list

['다노스', '스파이더맨', '아이언맨', '앤트맨']